@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway Bold.eot');
    src: url('../fonts/Raleway Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.eot');
    src: url('../fonts/Raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}